img {
  background-color: white;
  padding: 5px 5px 40px 5px;
  height: 12rem;
  width: 24rem;
  border: black 1px solid;
  opacity: 0.7;
  border-radius: 2px;
}
.first {
  position: absolute;
  top: 13vh;
  right: 30vh;
  transform: rotate(-20deg);
  z-index: 1;
}

.second {
  transform: rotate(10deg);
  position: absolute;
  top: 30vh;
  right: 32vh;
  z-index: 2;
}

.third {
  transform: rotate(8deg);
  position: absolute;
  top: 40vh;
  right: 60vh;
  z-index: 3;
}

.fourth {
  transform: rotate(2deg);
  position: absolute;
  top: 50vh;
  right: 80vh;
  z-index: 4;
}
